.chat-messages {
    height: 77vh;
    width: 72vw;
    background-color: blanchedalmond;
}

.chat-messages::-webkit-scrollbar {
    width: 1vw;               /* width of the entire scrollbar */
}
.chat-messages::-webkit-scrollbar-thumb {
    background-color: springgreen;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid blanchedalmond;  /* creates padding around scroll thumb */
}